<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonder.cp.portal.mybatis.mapper.TbAcquisitionSystemDicMapper">
  <resultMap id="BaseResultMap" type="com.wonder.cp.portal.mybatis.po.TbAcquisitionSystemDic">
    <id column="XTBM" jdbcType="VARCHAR" property="XTBM" />
    <result column="XTMC" jdbcType="VARCHAR" property="XTMC" />
    <result column="XTFWQ" jdbcType="VARCHAR" property="XTFWQ" />
    <result column="XTYMLY" jdbcType="VARCHAR" property="XTYMLY" />
    <result column="XTJYDCZ" jdbcType="VARCHAR" property="XTJYDCZ" />
    <result column="PC_UPDATETIME" jdbcType="VARCHAR" property="PC_UPDATETIME" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="UPDATETIME" />
    <result column="YL1" jdbcType="VARCHAR" property="YL1" />
    <result column="YL2" jdbcType="VARCHAR" property="YL2" />
  </resultMap>
  <sql id="Base_Column_List">
    XTBM, XTMC, XTFWQ, XTYMLY, XTJYDCZ, PC_UPDATETIME, UPDATETIME, YL1, YL2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_ACQUISITION_SYSTEM_DIC
    where XTBM = #{XTBM,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_ACQUISITION_SYSTEM_DIC
    where XTBM = #{XTBM,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="XTBM" keyProperty="XTBM" parameterType="com.wonder.cp.portal.mybatis.po.TbAcquisitionSystemDic" useGeneratedKeys="true">
    insert into TB_ACQUISITION_SYSTEM_DIC (XTMC, XTFWQ, XTYMLY, 
      XTJYDCZ, PC_UPDATETIME, UPDATETIME, 
      YL1, YL2)
    values (#{XTMC,jdbcType=VARCHAR}, #{XTFWQ,jdbcType=VARCHAR}, #{XTYMLY,jdbcType=VARCHAR}, 
      #{XTJYDCZ,jdbcType=VARCHAR}, #{PC_UPDATETIME,jdbcType=VARCHAR}, #{UPDATETIME,jdbcType=TIMESTAMP}, 
      #{YL1,jdbcType=VARCHAR}, #{YL2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="XTBM" keyProperty="XTBM" parameterType="com.wonder.cp.portal.mybatis.po.TbAcquisitionSystemDic" useGeneratedKeys="true">
    insert into TB_ACQUISITION_SYSTEM_DIC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="XTMC != null">
        XTMC,
      </if>
      <if test="XTFWQ != null">
        XTFWQ,
      </if>
      <if test="XTYMLY != null">
        XTYMLY,
      </if>
      <if test="XTJYDCZ != null">
        XTJYDCZ,
      </if>
      <if test="PC_UPDATETIME != null">
        PC_UPDATETIME,
      </if>
      <if test="UPDATETIME != null">
        UPDATETIME,
      </if>
      <if test="YL1 != null">
        YL1,
      </if>
      <if test="YL2 != null">
        YL2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="XTMC != null">
        #{XTMC,jdbcType=VARCHAR},
      </if>
      <if test="XTFWQ != null">
        #{XTFWQ,jdbcType=VARCHAR},
      </if>
      <if test="XTYMLY != null">
        #{XTYMLY,jdbcType=VARCHAR},
      </if>
      <if test="XTJYDCZ != null">
        #{XTJYDCZ,jdbcType=VARCHAR},
      </if>
      <if test="PC_UPDATETIME != null">
        #{PC_UPDATETIME,jdbcType=VARCHAR},
      </if>
      <if test="UPDATETIME != null">
        #{UPDATETIME,jdbcType=TIMESTAMP},
      </if>
      <if test="YL1 != null">
        #{YL1,jdbcType=VARCHAR},
      </if>
      <if test="YL2 != null">
        #{YL2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wonder.cp.portal.mybatis.po.TbAcquisitionSystemDic">
    update TB_ACQUISITION_SYSTEM_DIC
    <set>
      <if test="XTMC != null">
        XTMC = #{XTMC,jdbcType=VARCHAR},
      </if>
      <if test="XTFWQ != null">
        XTFWQ = #{XTFWQ,jdbcType=VARCHAR},
      </if>
      <if test="XTYMLY != null">
        XTYMLY = #{XTYMLY,jdbcType=VARCHAR},
      </if>
      <if test="XTJYDCZ != null">
        XTJYDCZ = #{XTJYDCZ,jdbcType=VARCHAR},
      </if>
      <if test="PC_UPDATETIME != null">
        PC_UPDATETIME = #{PC_UPDATETIME,jdbcType=VARCHAR},
      </if>
      <if test="UPDATETIME != null">
        UPDATETIME = #{UPDATETIME,jdbcType=TIMESTAMP},
      </if>
      <if test="YL1 != null">
        YL1 = #{YL1,jdbcType=VARCHAR},
      </if>
      <if test="YL2 != null">
        YL2 = #{YL2,jdbcType=VARCHAR},
      </if>
    </set>
    where XTBM = #{XTBM,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wonder.cp.portal.mybatis.po.TbAcquisitionSystemDic">
    update TB_ACQUISITION_SYSTEM_DIC
    set XTMC = #{XTMC,jdbcType=VARCHAR},
      XTFWQ = #{XTFWQ,jdbcType=VARCHAR},
      XTYMLY = #{XTYMLY,jdbcType=VARCHAR},
      XTJYDCZ = #{XTJYDCZ,jdbcType=VARCHAR},
      PC_UPDATETIME = #{PC_UPDATETIME,jdbcType=VARCHAR},
      UPDATETIME = #{UPDATETIME,jdbcType=TIMESTAMP},
      YL1 = #{YL1,jdbcType=VARCHAR},
      YL2 = #{YL2,jdbcType=VARCHAR}
    where XTBM = #{XTBM,jdbcType=VARCHAR}
  </update>
</mapper>