<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonder.cp.portal.mybatis.mapper.TbServiceSelfhelpStatisticMapper">
  <resultMap id="BaseResultMap" type="com.wonder.cp.portal.mybatis.po.TbServiceSelfhelpStatistic">
    <id column="DATEYM" jdbcType="VARCHAR" property="DATEYM" />
    <id column="JGDM" jdbcType="VARCHAR" property="JGDM" />
    <result column="JGMC" jdbcType="VARCHAR" property="JGMC" />
    <result column="KFSJD" jdbcType="VARCHAR" property="KFSJD" />
    <result column="YLQHCS" jdbcType="DECIMAL" property="YLQHCS" />
    <result column="YFJZQHCS" jdbcType="DECIMAL" property="YFJZQHCS" />
    <result column="YSLQQHCS" jdbcType="DECIMAL" property="YSLQQHCS" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="UPDATETIME" />
    <result column="YL1" jdbcType="VARCHAR" property="YL1" />
    <result column="YL2" jdbcType="VARCHAR" property="YL2" />
  </resultMap>
  <sql id="Base_Column_List">
    DATEYM, JGDM, JGMC, KFSJD, YLQHCS, YFJZQHCS, YSLQQHCS, UPDATETIME, YL1, YL2
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.wonder.cp.portal.mybatis.po.TbServiceSelfhelpStatisticKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_SERVICE_SELFHELP_STATISTIC
    where DATEYM = #{DATEYM,jdbcType=VARCHAR}
      and JGDM = #{JGDM,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.wonder.cp.portal.mybatis.po.TbServiceSelfhelpStatisticKey">
    delete from TB_SERVICE_SELFHELP_STATISTIC
    where DATEYM = #{DATEYM,jdbcType=VARCHAR}
      and JGDM = #{JGDM,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="DATEYM" keyProperty="DATEYM" parameterType="com.wonder.cp.portal.mybatis.po.TbServiceSelfhelpStatistic" useGeneratedKeys="true">
    insert into TB_SERVICE_SELFHELP_STATISTIC (JGDM, JGMC, KFSJD, 
      YLQHCS, YFJZQHCS, YSLQQHCS, 
      UPDATETIME, YL1, YL2
      )
    values (#{JGDM,jdbcType=VARCHAR}, #{JGMC,jdbcType=VARCHAR}, #{KFSJD,jdbcType=VARCHAR}, 
      #{YLQHCS,jdbcType=DECIMAL}, #{YFJZQHCS,jdbcType=DECIMAL}, #{YSLQQHCS,jdbcType=DECIMAL}, 
      #{UPDATETIME,jdbcType=TIMESTAMP}, #{YL1,jdbcType=VARCHAR}, #{YL2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="DATEYM" keyProperty="DATEYM" parameterType="com.wonder.cp.portal.mybatis.po.TbServiceSelfhelpStatistic" useGeneratedKeys="true">
    insert into TB_SERVICE_SELFHELP_STATISTIC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="JGDM != null">
        JGDM,
      </if>
      <if test="JGMC != null">
        JGMC,
      </if>
      <if test="KFSJD != null">
        KFSJD,
      </if>
      <if test="YLQHCS != null">
        YLQHCS,
      </if>
      <if test="YFJZQHCS != null">
        YFJZQHCS,
      </if>
      <if test="YSLQQHCS != null">
        YSLQQHCS,
      </if>
      <if test="UPDATETIME != null">
        UPDATETIME,
      </if>
      <if test="YL1 != null">
        YL1,
      </if>
      <if test="YL2 != null">
        YL2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="JGDM != null">
        #{JGDM,jdbcType=VARCHAR},
      </if>
      <if test="JGMC != null">
        #{JGMC,jdbcType=VARCHAR},
      </if>
      <if test="KFSJD != null">
        #{KFSJD,jdbcType=VARCHAR},
      </if>
      <if test="YLQHCS != null">
        #{YLQHCS,jdbcType=DECIMAL},
      </if>
      <if test="YFJZQHCS != null">
        #{YFJZQHCS,jdbcType=DECIMAL},
      </if>
      <if test="YSLQQHCS != null">
        #{YSLQQHCS,jdbcType=DECIMAL},
      </if>
      <if test="UPDATETIME != null">
        #{UPDATETIME,jdbcType=TIMESTAMP},
      </if>
      <if test="YL1 != null">
        #{YL1,jdbcType=VARCHAR},
      </if>
      <if test="YL2 != null">
        #{YL2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wonder.cp.portal.mybatis.po.TbServiceSelfhelpStatistic">
    update TB_SERVICE_SELFHELP_STATISTIC
    <set>
      <if test="JGMC != null">
        JGMC = #{JGMC,jdbcType=VARCHAR},
      </if>
      <if test="KFSJD != null">
        KFSJD = #{KFSJD,jdbcType=VARCHAR},
      </if>
      <if test="YLQHCS != null">
        YLQHCS = #{YLQHCS,jdbcType=DECIMAL},
      </if>
      <if test="YFJZQHCS != null">
        YFJZQHCS = #{YFJZQHCS,jdbcType=DECIMAL},
      </if>
      <if test="YSLQQHCS != null">
        YSLQQHCS = #{YSLQQHCS,jdbcType=DECIMAL},
      </if>
      <if test="UPDATETIME != null">
        UPDATETIME = #{UPDATETIME,jdbcType=TIMESTAMP},
      </if>
      <if test="YL1 != null">
        YL1 = #{YL1,jdbcType=VARCHAR},
      </if>
      <if test="YL2 != null">
        YL2 = #{YL2,jdbcType=VARCHAR},
      </if>
    </set>
    where DATEYM = #{DATEYM,jdbcType=VARCHAR}
      and JGDM = #{JGDM,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wonder.cp.portal.mybatis.po.TbServiceSelfhelpStatistic">
    update TB_SERVICE_SELFHELP_STATISTIC
    set JGMC = #{JGMC,jdbcType=VARCHAR},
      KFSJD = #{KFSJD,jdbcType=VARCHAR},
      YLQHCS = #{YLQHCS,jdbcType=DECIMAL},
      YFJZQHCS = #{YFJZQHCS,jdbcType=DECIMAL},
      YSLQQHCS = #{YSLQQHCS,jdbcType=DECIMAL},
      UPDATETIME = #{UPDATETIME,jdbcType=TIMESTAMP},
      YL1 = #{YL1,jdbcType=VARCHAR},
      YL2 = #{YL2,jdbcType=VARCHAR}
    where DATEYM = #{DATEYM,jdbcType=VARCHAR}
      and JGDM = #{JGDM,jdbcType=VARCHAR}
  </update>
</mapper>