<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonder.cp.portal.mybatis.mapper.TbServiceAppStatisticMapper">
  <resultMap id="BaseResultMap" type="com.wonder.cp.portal.mybatis.po.TbServiceAppStatistic">
    <id column="TJ_TIME" jdbcType="TIMESTAMP" property="TJ_TIME" />
    <result column="ZCZRS" jdbcType="DECIMAL" property="ZCZRS" />
    <result column="SMRZZRS" jdbcType="DECIMAL" property="SMRZZRS" />
    <result column="YYJZCS" jdbcType="DECIMAL" property="YYJZCS" />
    <result column="YYGHCS" jdbcType="DECIMAL" property="YYGHCS" />
    <result column="GLSQZXBM" jdbcType="VARCHAR" property="GLSQZXBM" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="UPDATETIME" />
    <result column="YL1" jdbcType="VARCHAR" property="YL1" />
    <result column="YL2" jdbcType="VARCHAR" property="YL2" />
  </resultMap>
  <sql id="Base_Column_List">
    TJ_TIME, ZCZRS, SMRZZRS, YYJZCS, YYGHCS, GLSQZXBM, UPDATETIME, YL1, YL2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.util.Date" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_SERVICE_APP_STATISTIC
    where TJ_TIME = #{TJ_TIME,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.Date">
    delete from TB_SERVICE_APP_STATISTIC
    where TJ_TIME = #{TJ_TIME,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" keyColumn="TJ_TIME" keyProperty="TJ_TIME" parameterType="com.wonder.cp.portal.mybatis.po.TbServiceAppStatistic" useGeneratedKeys="true">
    insert into TB_SERVICE_APP_STATISTIC (ZCZRS, SMRZZRS, YYJZCS, 
      YYGHCS, GLSQZXBM, UPDATETIME, 
      YL1, YL2)
    values (#{ZCZRS,jdbcType=DECIMAL}, #{SMRZZRS,jdbcType=DECIMAL}, #{YYJZCS,jdbcType=DECIMAL}, 
      #{YYGHCS,jdbcType=DECIMAL}, #{GLSQZXBM,jdbcType=VARCHAR}, #{UPDATETIME,jdbcType=TIMESTAMP}, 
      #{YL1,jdbcType=VARCHAR}, #{YL2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="TJ_TIME" keyProperty="TJ_TIME" parameterType="com.wonder.cp.portal.mybatis.po.TbServiceAppStatistic" useGeneratedKeys="true">
    insert into TB_SERVICE_APP_STATISTIC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ZCZRS != null">
        ZCZRS,
      </if>
      <if test="SMRZZRS != null">
        SMRZZRS,
      </if>
      <if test="YYJZCS != null">
        YYJZCS,
      </if>
      <if test="YYGHCS != null">
        YYGHCS,
      </if>
      <if test="GLSQZXBM != null">
        GLSQZXBM,
      </if>
      <if test="UPDATETIME != null">
        UPDATETIME,
      </if>
      <if test="YL1 != null">
        YL1,
      </if>
      <if test="YL2 != null">
        YL2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ZCZRS != null">
        #{ZCZRS,jdbcType=DECIMAL},
      </if>
      <if test="SMRZZRS != null">
        #{SMRZZRS,jdbcType=DECIMAL},
      </if>
      <if test="YYJZCS != null">
        #{YYJZCS,jdbcType=DECIMAL},
      </if>
      <if test="YYGHCS != null">
        #{YYGHCS,jdbcType=DECIMAL},
      </if>
      <if test="GLSQZXBM != null">
        #{GLSQZXBM,jdbcType=VARCHAR},
      </if>
      <if test="UPDATETIME != null">
        #{UPDATETIME,jdbcType=TIMESTAMP},
      </if>
      <if test="YL1 != null">
        #{YL1,jdbcType=VARCHAR},
      </if>
      <if test="YL2 != null">
        #{YL2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wonder.cp.portal.mybatis.po.TbServiceAppStatistic">
    update TB_SERVICE_APP_STATISTIC
    <set>
      <if test="ZCZRS != null">
        ZCZRS = #{ZCZRS,jdbcType=DECIMAL},
      </if>
      <if test="SMRZZRS != null">
        SMRZZRS = #{SMRZZRS,jdbcType=DECIMAL},
      </if>
      <if test="YYJZCS != null">
        YYJZCS = #{YYJZCS,jdbcType=DECIMAL},
      </if>
      <if test="YYGHCS != null">
        YYGHCS = #{YYGHCS,jdbcType=DECIMAL},
      </if>
      <if test="GLSQZXBM != null">
        GLSQZXBM = #{GLSQZXBM,jdbcType=VARCHAR},
      </if>
      <if test="UPDATETIME != null">
        UPDATETIME = #{UPDATETIME,jdbcType=TIMESTAMP},
      </if>
      <if test="YL1 != null">
        YL1 = #{YL1,jdbcType=VARCHAR},
      </if>
      <if test="YL2 != null">
        YL2 = #{YL2,jdbcType=VARCHAR},
      </if>
    </set>
    where TJ_TIME = #{TJ_TIME,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wonder.cp.portal.mybatis.po.TbServiceAppStatistic">
    update TB_SERVICE_APP_STATISTIC
    set ZCZRS = #{ZCZRS,jdbcType=DECIMAL},
      SMRZZRS = #{SMRZZRS,jdbcType=DECIMAL},
      YYJZCS = #{YYJZCS,jdbcType=DECIMAL},
      YYGHCS = #{YYGHCS,jdbcType=DECIMAL},
      GLSQZXBM = #{GLSQZXBM,jdbcType=VARCHAR},
      UPDATETIME = #{UPDATETIME,jdbcType=TIMESTAMP},
      YL1 = #{YL1,jdbcType=VARCHAR},
      YL2 = #{YL2,jdbcType=VARCHAR}
    where TJ_TIME = #{TJ_TIME,jdbcType=TIMESTAMP}
  </update>
</mapper>